<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sheryv.PassBox"
    android:versionName="0.1.143" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.sheryv.PassBox.PassCryptApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.sheryv.PassBox.PActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.sheryv.PassBox.DetailsActivity"
            android:label="@string/details" >
        </activity>
        <activity
            android:name="com.sheryv.PassBox.Options"
            android:label="@string/options" >
        </activity>
        <activity
            android:name="com.sheryv.PassBox.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sheryv.PassBox.AddActivity"
            android:label="@string/addNew" >
        </activity>
        <activity
            android:name="com.sheryv.PassBox.list_profile"
            android:label="@string/title_activity_list_profile" >
        </activity>
    </application>

</manifest>
